* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
  background-color: #202124;
}

.timer {
  width: 50%;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
  border-radius: 15px;
  margin: 5% auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
  border-radius: 15px 15px 0px 0px;
}

ul li {
  width: 50%;
  padding: 15px;
  color: #7192c7;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  display: inline-block;
  margin: 2%;
  background: none;
  outline: none;
  border: none;
  width: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px;
  color: #e8eaed;
  font-size: 20px;
}

.timer-box {
  display: block;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-align: left;
  padding: 25px;
  width: 50%;
  height: 150px;
  font-size: 50px;
  color: #e8eaed;
  margin: 5% 2%;
}

.control {
  width: 100%;
  height: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.btn {
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  padding: 6px 8px;
  text-align: center;
  width: 65px;
  margin: 2% 0% 2% 2%;
}

.start  {
  color: #202124;
  background-color: #8ab4f8;
  border: 1px solid #8ab4f8;
}

.reset {
  color: #202124;
  background-color: #bdc1c6;
  border: 1px solid #3c4043;
}